{% extends 'base.html.twig' %}

{% block title %}
    Nouvelle sortie | {{ parent() }}
{% endblock %}

{% block main %}
    <h2>Créer une sortie</h2>

    {{ form_start(sortieForm) }}
    {{ form_row(sortieForm.nom) }}
    {{ form_row(sortieForm.dateHeureDebut) }}
    {{ form_row(sortieForm.duree) }}
    {{ form_row(sortieForm.dateLimiteInscription) }}
    {{ form_row(sortieForm.nbInscriptionMax) }}
    {{ form_row(sortieForm.infosSortie) }}
    {{ form_row(sortieForm.campus) }}
    <div class = "AjouterVilleEtLieu">
    {{ form_row(sortieForm.ville) }}
    <button class ="boutonAjouter" onclick="window.location.href = '{{ path('sortie_ajouterVille') }}'" ><img class="logoPlus" src="{{ asset('img/Plus-PNG-Image.png') }}" alt="logo ajouter"></button>
    {{ form_row(sortieForm.Lieu) }}
    <button class ="boutonAjouter" onclick="window.location.href = '{{ path('main_creerLieu') }}'" ><img class="logoPlus" src="{{ asset('img/Plus-PNG-Image.png') }}" alt="logo ajouter"></button>
    </div>
    {{ form_row(sortieForm.rue) }}
    {{ form_row(sortieForm.codePostal) }}

    <div id="creationBoutons">
        <button name="bouton" value="Enregistrer">Enregistrer</button>
        <button name="bouton" value="Publier">Publier la sortie</button>
        <button id="btnAnnuler" onclick="{{ path('main_home') }}">Annuler</button>
    </div>
    {{ form_end(sortieForm) }}

{% endblock %}

