{% extends 'base.html.twig' %}


{% block title %}
    Home | {{ parent() }}
{% endblock %}

{% block main %}
    <h2>Bienvenue sur SORTIR.com !</h2>
    <aside id="asideHome">
        <p>Date du jour: {{ "now"|date("d/m/Y") }}</p>
        <p>Participant: {{ app.user.prenom }} {{ app.user.nom[:1]|upper }}.</p>
    </aside>

        <h3>Filtrer les sorties</h3>
    <form method="post" action="{{path('sortie_recherche')}}">
        <article id="articleRecherche">
            <div id="searchSorties">
                <div id="choixRecherche">
                    <label for="selectCampus">Campus</label>
                    <select name="selectCampus" id="selectCampus">
                        {% for campu in campus %}
                        <option value="{{ campu.id }}">{{ campu.nom }}</option>
                        {% endfor %}
                    </select>
                        <label for="contient">Le nom de la sortie contient:</label>
                        <input type="search" name="contient" id="contient">
                        <label for="entreA">Entre </label>
                        <input type="date" name="entreA" id="entreA">
                        <label for="entreB"> Et </label>
                        <input type="date" name="entreB" id="entreB">
                </div>
                <div id="choixFiltres">
                    <div>
                    <input type="checkbox" id="organise" name="organise" checked>
                    <label for="organise">Sorties dont je suis l'organisateur/trice</label>
                    </div>
                    <div>
                    <input type="checkbox" id="inscrit" name="inscrit" checked>
                    <label for="inscrit">Sorties auxquelles je suis inscrit/e</label>
                    </div>
                    <div>
                    <input type="checkbox" id="nonInscrit" name="nonInscrit" checked>
                    <label for="nonInscrit">Sorties auxquelles je ne suis pas inscrit/e</label>
                    </div>
                    <div>
                    <input type="checkbox" id="passee" name="passee">
                    <label for="passee">Sorties passées</label>
                    </div>
                </div>
                <div id="buttonRecherche">
                    <button>Rechercher</button>
                </div>
            </div>
    </article>
    </form>
    <article>
        <!--tableau de recherche -->
        <table id="tableHome">
            <tr id="trTitres">
                <td>Nom de la sortie</td>
                <td>Date de la sortie</td>
                <td>Clôture</td>
                <td>Inscrits / Places</td>
                <td>Etat</td>
                <td>Inscrit</td>
                <td>Organisateur</td>
                <td>Actions</td>
            </tr>
            {% for li in liste %}
                {% if li.archive %}
                {% else %}
            <tr id="trHome">
                <td>{{ li.nom }} </td>
                <td>{{ li.dateHeureDebut | date("d/m/Y")}}</td>
                <td>{{ li.dateLimiteInscription|date("d/m/Y") }}</td>
                <td>{{ li.participants | length }} / {{ li.nbInscriptionMax }}</td>
                <td>{{ li.etat.libelle }}</td>

                <td>{% for part in li.participants %}{% if app.user.id is same as(part.id) %}<img id="logoCheck" src="{{ asset('img/55-559850_check-mark-check-png-transparent-png.png') }}" alt="un logo check">{% else %}{% endif %}{% endfor %}</td>

                <td><a href="{{ path('main_profil', {'id': li.organisateur.id}) }}"> {{ li.organisateur.pseudo }} </a></td>
                <td>
                    <a href="{{ path('main_afficher', {'id': li.id}) }}"> Afficher</a>  <a href="" id="lienDesister" hidden>Se desister</a>
                    {# trouver une solution pour afficher les bons liens en fonction des prérequis adéquats des désidératas
                    qui incombent aux sens présents#}
                </td>
            </tr>
                    {% endif %}
            {% endfor %}
        </table>
        <div id="createSortie">
        <button id="buttonCreate" onclick="window.location.href = '{{ path('main_creerSortie') }}'">Créer une sortie</button>
        </div>
    </article>

{% endblock %}

