<nav>
        <div class="navLogo">
                <a href="{{ path('main_home') }}"><img class = "logo" src="{{asset('img/exit.jpg') }}" alt = "logo provisoire"></a>
        </div>
        <div class="navMenu">
                <a href="{{ path('main_home') }}">Accueil</a>
                {% if app.user %}
                        <a href="{{ path('main_creerSortie') }}">Créer une sortie</a>
                        <a href="{{ path('main_profil',{"id":app.user.id}) }}">Mon profil</a>
                        <a href="{{ path('app_logout') }}">Se Déconnecter</a>
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                        <a href="{{ path('admin_home') }}">Admin</a>

                        {% endif %}
                 {% else %}
                        <a href="{{ path('app_login') }}">Se connecter</a>
                        <a href="{{ path('app_register') }}">Créer un compte</a>
                {% endif %}
        </div>
</nav>