{% extends 'base.html.twig' %}

{% block main %}

<h2>Menu Admin</h2>

    <table id = "tableAdminHome">
        <tr class ="trAdminTitres">
            <td class = "adminTd">NOM</td>
            <td class = "adminTd">PRENOM</td>
            <td class = "adminTd">PSEUDO</td>
            <td class = "adminTd">EMAIL</td>
            <td class = "adminTd">ACTIF</td>
        </tr>
        {% for participant in tabParticipants %}
        <tr id ="trAdminTitres">
            <td class = "adminTd">{{ participant.nom }}</td>
            <td class = "adminTd">{{ participant.prenom }}</td>
            <td class = "adminTd">{{ participant.pseudo }}</td>
            <td class = "adminTd">{{ participant.email }}</td>

            {% if participant.actif %}
                <td class = "adminTd" ><img id="logoCheckAdmin" src="{{ asset('img/55-559850_check-mark-check-png-transparent-png.png') }}" alt="un logo check">  </td>
            {% else %}
                <td class = "adminTd" ><img id="logoCroix" src="{{ asset('img/croix.png') }}" alt="une croix rouge"></td>
                {% endif %}

            <td class = "adminButtonTd" > <button class = "adminButton" onclick="window.location.href = '{{ path( 'admin_supprimer',{'id':participant.id} ) }}'"> Supprimer </button> </td>
            <td class = "adminButtonTd" > <button class = "adminButton" onclick="window.location.href = '{{ path('admin_actif',{'id':participant.id} ) }}'"> Modifier Status </button> </td>

        </tr>

        {% endfor %}
    </table>
    <br>

    <button  onclick="window.location.href = '{{ path('admin_ajouter') }}'"> Ajouter un Utilisateur </button>
    <button  onclick="window.location.href = '{{ path('sortie_ajouterVille') }}'"> Ajouter une Ville </button>


{% endblock %}



{% block title %}
Admin Home | {{ parent() }}
{% endblock %}

